<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathonproject" >

    <!-- TODO Figure out google map api -->
    <!-- TODO Figure out google auto complete or bing auto complete api -->
    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Suggestion.SuggestionActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="ysdesigns.db" />
        <meta-data
            android:name="VERSION"
            android:value="1.1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.hackathonproject" />

        <activity
            android:name=".Search.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Suggestion.SuggestionResultViewActivity"
            android:label="@string/title_activity_suggestion_result_view" >
        </activity>
        <activity
            android:name=".Login.SelectUserActivity"
            android:label="@string/title_activity_select_user" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Routine.NewsFeedActivity"
            android:label="@string/title_activity_news_feed" >
        </activity>
    </application>

</manifest>
